.App {
  font-size: 16px;
  display: block;
  flex-wrap: wrap;
  align-items: center;
}

img {
  width: auto;
  height: auto;
  border-radius: 50%;
}

.card {
  align-items: center;
  background-color: Red;
  border-radius: 2px;
  color: white;
  height: 50%;
  width: 100%;
}
.button {
  align-items: top;
  height: 30px;
}

.title {
  align-items: center;
  color: green;
}
