.App {
  font-size: 16px;
  justify-content: center;
  display: block;
  flex-wrap: wrap;
  align-items: center;
}

img {
  width: auto;
  height: auto;
  border-radius: 50%;
}

.card {
  align-items: center;
  background-color: Red;
  border-radius: 2px;
  color: white;
  height: 50%;
  width: 50%;
}
button {
  align-items: center;
  height: 30px;
  border-color: aquamarine;
  border-width: 3px;
  flex-direction: column;
}

title {
  align-items: center;
  color: green;
}
h1 {
  font-size: 100px;
}

img {
  height: 50%;
  width: 50%;
}
