.App {
  font-size: 16px;
  justify-content: center;
  display: block;

  align-items: flex-start;
}
.PropCardList {
  flex-wrap: wrap;

  align-items: row;
}
img {
  width: auto;
  height: auto;
  border-radius: 50%;
}

img:hover {
}
.card {
  align-items: center;
  background-color: Red;
  border-radius: 10px;
  border-color: aquamarine;
  color: white;
  width: min-content;
}
button {
  align-items: center;
  height: 30px;
  border-color: aquamarine;
  border-width: 3px;
  flex-direction: column;
}

title {
  align-items: center;
  color: green;
}
h1 {
  font-size: 100px;
}

img {
  height: 50%;
  width: 50%;
}
